{% extends "base.html.twig" %}

{% block title %}Catalog{% endblock %}

{% block body %}
    <h1>Catalog Product</h1>
    <ul>
        {% for product in products %}
            <li>{{product.name}} à {{product.price}} Euros</li>
        {% endfor %}
    </ul>
{% endblock %}