{% extends "base.html.twig" %}

{% block title %}Catalog{% endblock %}

{% block body %}
    <h1>Catalog customer</h1>
    <ul>
        {% for customer in customers %}
            <li>{{customer.lastname}} {{customer.firstname}} à {{ customer.age }}</li>
        {% endfor %}
    </ul>
{% endblock %}