{% extends "base.html.twig" %}

{% block title %}Catalog{% endblock %}

{% block body %}
    <h1>Catalog Product</h1>
    <ul>
        {{customer.lastname}} {{customer.firstname}} age : {{ customer.age }}
    </ul>
{% endblock %}