{% extends "base.html.twig" %}

{% block title %}Catalog{% endblock %}

{% block body %}
    <h1>Catalog Product</h1>
    <ul>
        {{product.name}} à {{product.price}} Euros
    </ul>
{% endblock %}